.main-area {
  width: 100%;
  background-color: #fafafa;
}

.content-area {
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.page-title {
  font-size: 24px;
  text-align: center;
}
