
.form {
    margin-bottom: 60px;
}

.form-title,
.form-desc{
    display: block;
    max-width: 500px;
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-button {
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background-color: #b8b8b8;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.form-button-active {
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background-color: lightpink;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}