
.todolist-item {
    list-style: none;
    width: 500px;
    padding: 20px;
    margin: 0 auto 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,.1);
}

.todolist-title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist-title {
    margin: 0;
    font-weight: bold;
}

.todolist-num {
    margin-right: 10px;
}

.todolist-desc {
    margin-bottom: 0;
    font-size: 14px;
}